# Bytecode / cache
__pycache__/
*.py[cod]
*.pyo
*.log

# Virtualenvs
venv/
.venv/
.env

# Git
.git/
.gitignore

# Node / frontend
node_modules/
*.tsbuildinfo

# Django static/media (if generated)
staticfiles/
media/
