# Python
__pycache__/
*.py[cod]
*.log

# Virtualenvs / artifacts
venv/
.venv/
.env
.env.*
*.sqlite3

# Node
node_modules/
dist/
build/
*.tsbuildinfo

# VCS & OS
.git/
.gitignore
.DS_Store
Thumbs.db

# Django generated
staticfiles/
media/